
.titulo {
    text-align: center;
}

.divagregar {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
}

.imagenPrenda {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.tableCell {
    text-align: center;
    vertical-align: middle !important;
}

.baseWidth {
    width: 12% !important;
}

.description {
    width: 40% !important;
}